/* -- Accordion Menu Styles -- */
.accordion-button {
  background-color: #f8f9fa;
  color: #343a40;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #dee2e6;
  outline: none;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 500;
}

.accordion-button.active, .accordion-button:hover {
  background-color: #e9ecef;
}

.accordion-button:after {
  content: '▸'; /* Collapsed Icon */
  font-size: 14px;
  color: #6c757d;
  float: right;
  transition: transform 0.2s;
}

.accordion-button.active:after {
  content: '▾'; /* Expanded Icon */
}

.accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-panel .article {
  padding: 8px 0;
  border-bottom: 1px solid #f1f1f1;
}

.layer-checkbox-group {
    display: block;
    position: relative;
    padding: 8px 0px 8px 35px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    user-select: none;
    border-bottom: 1px solid #f1f1f1;
}
/* Hide the default checkbox */
.layer-checkbox-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 10px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.layer-checkbox-group:hover input ~ .checkmark {
  background-color: #ccc;
}
.layer-checkbox-group input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.layer-checkbox-group input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.layer-checkbox-group .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
