<!-- Toggle checkboxes (hidden) -->
<input type="checkbox" id="toggle-sidebar">
<input type="checkbox" id="toggle-map">

<!-- Toggle buttons (styled as labels) -->
<label for="toggle-sidebar" class="toggle-button">Toggle Menu</label>
<label for="toggle-map" class="toggle-map">Map Layers ⌄ </label>

<!-- Sidebar Structure -->
<div class="sidebar">
    <!-- Navigation Menu -->
    <div class="new-navigation-menu">
        <button class="new-menu-button" id="new-menu-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="new-menu-dropdown" id="new-menu-dropdown">
            <div class="new-menu-header">
                <span class="new-menu-title">Navigation</span>
                <button class="new-menu-close" id="new-menu-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            
            <div class="new-menu-links">
                <!-- Home -->
                <a href="{{site.baseurl}}/#home/" class="new-menu-link" data-page="home">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
                
                <!-- Academic Programs -->
                <a href="{{site.baseurl}}/#Academic_Programs/" class="new-menu-link" data-page="Academic_Programs">
                    <i class="fa fa-graduation-cap"></i>
                    <span>Academic Programs</span>
                </a>
                
                <!-- Governing Resources -->
                <a href="{{site.baseurl}}/#Governing_Resources/" class="new-menu-link" data-page="Governing_Resources">
                    <i class="fa fa-building"></i>
                    <span>Governing Resources</span>
                </a>
                
                <!-- Additional Resources -->
                <a href="{{site.baseurl}}/#Additional_Resources/" class="new-menu-link" data-page="Additional_Resources">
                    <i class="fa fa-info-circle"></i>
                    <span>Additional Resources</span>
                </a>
                
                <!-- Inquiries and Contributions -->
                <a href="{{site.baseurl}}/#inquiry/" class="new-menu-link" data-page="inquiry">
                    <i class="fa fa-envelope"></i>
                    <span>Inquiries & Contributions</span>
                </a>
                
                <!-- Help Us Improve -->
                <a href="{{site.baseurl}}/#User_Feedback_Survey/" class="new-menu-link" data-page="User_Feedback_Survey">
                    <i class="fa fa-comment"></i>
                    <span>Help Us Improve</span>
                </a>
                
                <!-- Scholar Share -->
                <a href="{{site.baseurl}}/#Scholar_Share/" class="new-menu-link" data-page="Scholar_Share">
                    <i class="fa fa-share-alt"></i>
                    <span>Scholar Share</span>
                </a>
            </div>
        </div>
    </div>
    
    <div id="sidebar-content">
        <!-- Your existing sidebar content -->
    </div>
</div>
