<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map { width: 100%; height: 600px; } /* Ensure the map has height */
    </style>
</head>

<body>

    {% include sidebar.html %}

    <div id="map"></div> <!-- Make sure the map div is here -->

    <script>
    // Initialize map
    map = L.map('map', {scrollWheelZoom: false}).setView([41.8781, -87.6298], 12);

    // Add base layer (ESRI Gray Light)
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
        attribution: '© ESRI',
        minZoom: 0,
        maxZoom: 20
    }).addTo(map);

    // GeoJSON Layers
    var landmarksLayer = L.geoJSON(null, {
        onEachFeature: function (feature, layer) {
            layer.bindPopup('<strong>' + feature.properties.title + '</strong>');
        }
    });
    fetch('https://profrovner.github.io/antimonumentalchicago/individuallandmarks.geojson')
        .then(response => response.json())
        .then(data => landmarksLayer.addData(data));

    var communityAreasLayer = L.geoJSON(null, {
        onEachFeature: function (feature, layer) {
            layer.bindPopup('<strong>' + feature.properties.title + '</strong>');
        }
    });
    fetch('https://profrovner.github.io/antimonumentalchicago/boundaries.geojson')
        .then(response => response.json())
        .then(data => communityAreasLayer.addData(data));

    var monumentsLayer = L.geoJSON(null, {
        onEachFeature: function (feature, layer) {
            layer.bindPopup('<strong>' + feature.properties.title + '</strong>');
        }
    });
    fetch('https://profrovner.github.io/antimonumentalchicago/monuments.geojson')
        .then(response => response.json())
        .then(data => monumentsLayer.addData(data));

    // Create a separate control for GeoJSON layers
    var geojsonLayerControl = {
        "Landmarks": landmarksLayer,
        "Community Areas": communityAreasLayer,
        "Monuments": monumentsLayer
    };

    L.control.layers(null, geojsonLayerControl, { position: 'topright', collapsed: false }).addTo(map);

    </script>

    {% include menu.html %}
    {% include dropdown.html %}
</body>
</html>
